.app-container {
    min-height: 100%;
    width: 100%;
    margin-bottom: -271px;
    display: table;
}
header-main,
router-outlet,
app-layout-footer{
  display: table-row;
}
header-main {
    height: 60px;
}
router-outlet {
    position: absolute;
}

app-layout-footer {
    height: 60px;
}